.ui-colors {
    display: flex;
    padding-bottom: 20px;

    &__color {
        width: 70px;
        height: 70px;
        border-radius: 6px;
    }

    &__description{
        padding-left: 40px;
    }

    &__title{
        margin: 10px 0px 7px 0;
    }

    &__code{
        margin: 0px;
        font-family: Montserrat;
        font-size: 19px;
        font-weight: 400;
}}