- 
    let color = [
    {
        color: '#1F2041',
        title: 'Dark Shade 100%',
        background: 'ui-dark-shade-100'
    },
        {
        color: '#1F2041',
            title: 'Dark Shade 50%',
            background: 'ui-dark-shade-75'
        },
        {
            color: '#1F2041',
            title: 'Dark Shade 25%',
            background: 'ui-dark-shade-100'
        },
        {
            color: '#1F2041',
            title: 'Dark Shade 5%',
            background: 'ui-dark-shade-75'
        },
        {
            color: '#BC9CFF',
            title: 'Purple',
            background: 'ui-purple'
        },
        {
            color: '#6FCF97',
            title: 'Green',
            background: 'ui-green'
        }];