:root{
    --ui-bcg-color: #E5E5E5;
    --ui-dark-shade-100: #1F2041;
    --ui-purple: #BC9CFF;
    --ui-green: #6FCF97;
    --ui-font-size-color: rgba(31, 32, 65, 0.25);
    --ui-font-body-color: rgba(31, 32, 65, 0.75);
    --ui-bcg-header: #FFFFFF;
    --ui-button-purple: #8BA4F9;
    --ui-loggined-border: rgba(31, 32, 65, 0.1);
    --ui-shadown: rgba(31, 32, 65, 0.1);
}

.ui-dark-shade-100{
    background-color: var(--ui-dark-shade-100);
}
.ui-dark-shade-75{
    background-color: var(--ui-dark-shade-100);
    opacity: 0.75;
}
.ui-dark-shade-50{
    background-color: var(--ui-dark-shade-100);
    opacity: 0.5;
}
.ui-dark-shade-25{
    background-color: var(--ui-dark-shade-100);
    opacity: 0.25;
}
.ui-dark-shade-5{
    background-color: var(--ui-dark-shade-100);
    opacity: 0.05;
}
.ui-purple{
    background-color: var(--ui-purple);
}
.ui-green {
    background-color: var(--ui-green);
}
.background {
    background-color: var(--ui-bcg-color);
}



