@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: local('Montserrat'),
         url('../fonts/Montserrat-Regular.woff2'),
         url('../fonts/Montserrat-Regular.woff');
    ;
    color: black;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: local('Montserrat'),
         url('../fonts/Montserrat-Bold.woff2'),
         url('../fonts/Montserrat-Bold.woff');
    ;
    color: black;
}

* {
    font-family: 'Montserrat', "Arial", sans-serif;
}
.title-h1 {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    color: var(--ui-dark-shade-100);
    line-height: 29px;
}
.title-h2 {
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 700;
    color: var(--ui-dark-shade-100);
    line-height: 23px;
}
.title-h3 {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    color: var(--ui-dark-shade-100);
    text-transform: uppercase;
    line-height: 15px;
}
.body-text{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    color: var(--ui-font-body-color);
    line-height: 24px;
    &_active{
        font-weight: 700;
    }
}