@use 'normalize.scss';
@use 'blocks/colors';
@use 'fonts';

body {
    display: grid;
    min-width: 100%;
    min-height: 100%;
    grid-template-rows: min-content 1fr min-content;

}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container-wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}
.ui-main{
    display: flex;
    flex-direction: row;
}

/*ui-header + ui-logo*/
.ui-header{
    padding: 30px;
}
.ui-logo{
    width: 48px;
    height: 48px;
    fill: var(--ui-font-size-color);
}

/*uiColor*/

.ui-colors{
    display: flex;
    padding-bottom: 20px;
}
.ui-colors__color{
    width: 70px;
    height: 70px;
    border-radius: 6px;
}
.ui-column{
    width: 50%;
}
.ui-dark-shade-100{
    background-color: var(--ui-dark-shade-100);
}
.ui-dark-shade-75{
    background-color: var(--ui-dark-shade-100);
    opacity: 0.75;
}
.ui-dark-shade-50{
    background-color: var(--ui-dark-shade-100);
    opacity: 0.5;
}
.ui-dark-shade-25{
    background-color: var(--ui-dark-shade-100);
    opacity: 0.25;
}
.ui-dark-shade-5{
    background-color: var(--ui-dark-shade-100);
    opacity: 0.05;
}
.ui-purple{
    background-color: var(--ui-purple);
}
.ui-green{
    background-color: var(--ui-green);
}
.ui-colors__description{
    padding-left: 40px;
}
.ui-colors__title{
    margin: 6px 0px;
}
.ui-colors__code{
    margin: 0px;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 400;
}

/*fontSize*/
.ui-fonts{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
.ui-fonts__font-size{
    width: 37px;
    margin-right: 30px;
    color: var(--ui-font-size-color);
    text-align: right;
}
.ui-fonts__font-size_font-weight{
    font-weight: 400;
}
.ui-fonts__content{
    max-width: 369px;
    margin: 0;
}