@import 'normalize.scss';
@import 'colors';
@import 'fonts';
@import 'variables';
@import 'blocks/ui-main';
@import 'blocks/ui-header';
@import 'blocks/ui-logo';
@import 'blocks/ui-column';
@import 'blocks/ui-colors';
@import 'blocks/ui-fonts';

body {
    display: grid;
    min-width: 100%;
    min-height: 100%;
    grid-template-rows: min-content 1fr min-content;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container-wrapper {
    @extend .desktop-width;
    margin: 0 auto;
    display: flex;
}

